*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    font-size: 10px;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 20px;
    border-radius: 50%;
}
